# running tests twice, so if something breaks when optional dependencies are
# missing, it still shows up. (full coverage would mean running each
# combination, but let's not blow the test matrix out of proportion).
test:3.7:
  image: "python:3.7"
  script:
    - env
    - echo Using cache:; ls .eggs/ || echo No cached .eggs found
    - rm -f .coverage* collected-coverage
    - pip3 install coverage
    - AIOCOAP_TEST_EXTRAS= python3 -m coverage run --parallel ./setup.py test
    - python3 -m coverage run --parallel ./setup.py test
    - pip3 install uvloop
    - AIOCOAP_TESTS_LOOP=uvloop python3 -m coverage run --parallel ./setup.py test
    # Could just as well do this on the default main loop, but AFAIR uvloop
    # required occasional workarounds
    - AIOCOAP_TESTS_LOOP=uvloop AIOCOAP_CLIENT_TRANSPORT=oscore:simple6 AIOCOAP_SERVER_TRANSPORT=oscore:simplesocketserver python3 -m coverage run --parallel ./setup.py test
    # Not installing python3-gi directly, as Debian's dist-modules is not in
    # docker image's Python path
    - apt-get update
    - apt-get -y install libgirepository1.0-dev
    - pip3 install pygobject gbulb
    - AIOCOAP_TESTS_LOOP=gbulb timeout 10m python3 -m coverage run --parallel ./setup.py test || echo Letting failing gbulb test slide
    - mkdir collected-coverage/3.7/ -p
    - mv .coverage* collected-coverage/3.7/
    - "AIOCOAP_TEST_MCIF=\"$(ip -j -6 route list default | python3 -c 'import sys, json; print(json.load(sys.stdin)[0][\"dev\"])')\" ./setup.py test"
  artifacts:
    paths:
      - collected-coverage/3.7/
  cache:
    key: python3.7
    paths:
      - .eggs/

test:pypy:
  image: debian:buster
  script:
    - rm -f .coverage* collected-coverage
    - apt-get update
    - apt-get -y install pypy3 python3-setuptools python3-pip wget ca-certificates
    # pypy and pip don't appear to work together on buster at all
    - wget https://files.pythonhosted.org/packages/fe/4d/3d892bdd21acba6c9e9bec6dc93fbe619883a0967c62f976122f2c6366f3/coverage-5.1.tar.gz
    - tar xzf coverage-5.1.tar.gz
    - (cd coverage-5.1 && pypy3 ./setup.py install --user)
    # The dependencies for the extras fail to install on this installation of
    # pypy; tox tests them anyway though.
    - AIOCOAP_TEST_EXTRAS= pypy3 -m coverage run --parallel ./setup.py test
    - mkdir collected-coverage/pypy/ -p
    - mv .coverage* collected-coverage/pypy/
  artifacts:
    paths:
      - collected-coverage/pypy/

test:tox:
  image: debian:bullseye
  script:
    - rm -f .coverage* collected-coverage
    - apt-get update
    - apt-get -y install tox build-essential python3-dev libssl-dev autoconf pypy3 pypy3-dev python3-setuptools python3-pip
    # Work around the trouble installing cryptography on bullseye's pypy using
    # bullseye's pip; see https://bugs.debian.org/962654
    - python3 -m virtualenv --python pypy3 /tmp/pypy3env && bash -x -c 'source /tmp/pypy3env/bin/activate; pip install --force-reinstall pip; pip install cryptography DTLSSocket PyNaCl'
    # Separate run so I don't waste time telling errors in setup apart from errors at runtime
    - tox --notest
    # Locally, I occasionally needed this step as it would create a working tox
    # pypy3 environment when it first failed silently. The other packages need
    # to be listed separately in that case then, because whatever made tox fail
    # there stopped at the first trouble.
    # - bash -x -c ". .tox/pypy3-allextras/bin/activate; pip install 'cryptography == 2.3.1' cbor2 LinkHeader termcolor pygments DTLSSocket"
    - "AIOCOAP_TEST_MCIF=\"$(ip -j -6 route list default | python3 -c 'import sys, json; print(json.load(sys.stdin)[0][\"dev\"])')\" tox"
    - mkdir collected-coverage/tox/ -p
    - mv .coverage* collected-coverage/tox/
  artifacts:
    paths:
      - collected-coverage/tox/

pages:
  image: "debian"
  stage: deploy
  dependencies:
    - test:3.7
    - test:pypy
    - test:tox
  script:
    - apt-get update
    - apt-get -y install python3-pip
    - python3 -m pip install coverage
    - rm -f .coverage* public
    - mv collected-coverage/*/.coverage* .
    - python3 -m coverage combine
    - python3 -m coverage report --include=aiocoap/\*
    - python3 -m coverage html --include=aiocoap/\*
    - mv htmlcov public
  artifacts:
    paths:
      - public

include:
  - template: SAST.gitlab-ci.yml
  - template: License-Scanning.gitlab-ci.yml
